pre {
  background-color: gray;
}

a {
  color: blue;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

small {
  font-size: 70%;
}
big {
  font-size: 130%;
}

input {
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  background-color: lightblue;
}

button {
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  background-color: orange;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #add8e6;
  }

  input {
    background-color: #2222ff;
  }

  button {
    background-color: #992500;
  }
}

input:focus {
  outline: 2px solid #ff0000;
}
button:focus {
  outline: 2px solid #1028a3;
}
div:focus {
  outline: 2px solid #000000;
}
a:focus {
  outline: 2px solid #135c2e;
}

@media (prefers-color-scheme: dark) {
  input:focus {
    outline: 2px solid white;
  }
  button:focus {
    outline: 2px solid white;
  }
  div:focus {
    outline: 2px solid white;
  }
  a:focus {
    outline: 2px solid white;
  }
}

iframe {
  outline: 2px solid #1e3cb5;
}
