pre {
  background-color: blueviolet;
}

a {
  background-color: #c0c0c0;
  font-size: 30px;
}

div {
  font-size: 45px;
  background-color: #ffa500;
  border-radius: 40px;
  overflow: clip;
}

p {
  background-color: #00ffff;
  font-size: 45px;
}

div p {
  mix-blend-mode: difference;
}
